html {
  font-family: 'Open Sans', sans-serif; 
}


p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;

}

img {
	display: block;
	margin: 0 auto;
}

.button {
	letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}
	
.numberInput, .latoCorto, .latoLungo {
      font-size: 2em;
      margin: 10px 1px 0;
    }
